[submodule "contrib/libasn1c"]
	path = contrib/libasn1c
	url = git://git.osmocom.org/libasn1c
	ignore = dirty
[submodule "contrib/libosmocore"]
	path = contrib/libosmocore
	url = git://git.osmocom.org/libosmocore/
	ignore = dirty
[submodule "contrib/metagsm"]
	path = contrib/gsm-parser
	url = http://opensource.srlabs.de/git/gsm-parser.git
	ignore = dirty
