[submodule "contrib/libasn1c"]
	path = contrib/libasn1c
	url = /home/alex/Devel/msd-app/../../build/libasn1c
[submodule "contrib/libosmocore"]
	path = contrib/libosmocore
	url = /home/alex/Devel/msd-app/../../build/libosmocore
[submodule "contrib/metagsm"]
	path = contrib/metagsm
	url = /home/alex/Devel/msd-app/../../build/metagsm
