<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.srlabs.msd"
    android:versionCode="1"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="16"
        android:maxSdkVersion="19"
        android:targetSdkVersion="19" />
   
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_content_network"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.srlabs.snoopsnitch.StartupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="de.srlabs.snoopsnitch.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
        </activity>
        
        <!-- Detail Chart Activity -->
        <activity
             android:name="de.srlabs.snoopsnitch.DetailChartActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">     
        </activity>
        
        <!-- Map Activity -->
        <activity
             android:name="de.srlabs.snoopsnitch.MapActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">     
        </activity>
        
        <!-- Local Map Activity -->
        <activity
             android:name="de.srlabs.snoopsnitch.LocalMapActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">     
        </activity>
        
        <!-- Test Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.MsdServiceHelperTest"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">
        </activity>
        
        <!-- Settings Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- About Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>
        
        <!-- Crash Upload Activity-->
        <activity
            android:name="de.srlabs.snoopsnitch.CrashUploadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
    		android:taskAffinity=""
    		android:excludeFromRecents="true">
        </activity>
              
        <!-- Active Test Advanced Mode -->
        <activity
            android:name="de.srlabs.snoopsnitch.ActiveTestAdvanced"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>
        <service android:name="de.srlabs.snoopsnitch.qdmon.MsdService" android:exported="false" android:process=".snoopsnitch_service" />
    	<service android:name="de.srlabs.snoopsnitch.active_test.ActiveTestService" android:exported="false" />
    </application>
</manifest>
