<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.srlabs.msd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:maxSdkVersion="19"
        android:targetSdkVersion="19" />
   
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_content_imsi_event"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.srlabs.msd.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Detail Chart Activity -->
        <activity
             android:name="de.srlabs.msd.DetailChartActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.msd.DashboardActivity">     
        </activity>
        <!-- Map Activity -->
        <activity
             android:name="de.srlabs.msd.MapActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.msd.DashboardActivity">     
        </activity>
        
        <!-- Test Activity -->
        <activity
            android:name="de.srlabs.msd.MsdServiceHelperTest"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:parentActivityName="de.srlabs.msd.DashboardActivity">
        </activity>
        
        <!-- Settings Activity -->
        <activity
            android:name="de.srlabs.msd.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- About Activity -->
        <activity
            android:name="de.srlabs.msd.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.msd.DashboardActivity" >
        </activity>
        
        <!-- Crash Upload Activity-->
        <activity
            android:name="de.srlabs.msd.CrashUploadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
    		android:taskAffinity=""
    		android:excludeFromRecents="true">
        </activity>
              
        <!-- Active Test Advanced Mode -->
        <!--<activity
            android:name="de.srlabs.msd.ActiveTestAdvanced"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.msd.DashboardActivity" >
        </activity>  -->
        <service android:name="de.srlabs.msd.qdmon.MsdService" android:exported="false" android:process=".msd_service" />
        <service android:name="de.srlabs.msd.qdmon.DummyMsdService" android:exported="false" android:process=".dummy_msd_service" />
    	<!--<service android:name="de.srlabs.msd.active_test.ActiveTestService" android:exported="false" />
    	<service android:name="de.srlabs.msd.active_test.DummyActiveTestService" android:exported="false" />-->
    </application>
</manifest>
