*.o
*.lo
Makefile.in
aclocal.m4
autom4te.cache/*
config.sub
configure
include/Makefile.in
ltmain.sh
m4/libtool.m4
src/Makefile.in
Makefile
config.status
include/Makefile
libosmo-asn1-rrc.pc
libtool
src/.deps/
src/.libs/
src/Makefile
src/libosmo-asn1-rrc.la
config.guess
depcomp
install-sh
missing
compile
m4
