<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.srlabs.snoopsnitch"
    android:installLocation="auto"> <!-- allow installing/moving app to sdcard, too -->

    <uses-sdk />

    <!-- Permissions -->
    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <!-- Connections -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- System -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


    <supports-screens android:xlargeScreens="false"/>

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@drawable/ic_content_imsi_event"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver android:name="de.srlabs.snoopsnitch.BootCompletedIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="de.srlabs.snoopsnitch.StartupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="de.srlabs.snoopsnitch.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
        </activity>
        
        <!-- Detail Chart Activity -->
        <activity
             android:name="de.srlabs.snoopsnitch.DetailChartActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">     
        </activity>
        
        <!-- Map Activity -->
        <activity
             android:name="de.srlabs.snoopsnitch.MapActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">     
        </activity>
        
        <!-- Local Map Activity -->
        <activity
             android:name="de.srlabs.snoopsnitch.LocalMapActivity"
             android:screenOrientation="portrait"
             android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">     
        </activity>
        
        <!-- Test Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.MsdServiceHelperTest"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">
        </activity>
        
        <!-- Settings Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- About Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>
        
        <!-- Network Info Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.NetworkInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>

        <!-- Upload Debug Activity -->
        <activity
            android:name="de.srlabs.snoopsnitch.UploadDebugActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>

        <!-- Crash Upload Activity-->
        <activity
            android:name="de.srlabs.snoopsnitch.CrashUploadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
    		android:taskAffinity=""
    		android:excludeFromRecents="true">
        </activity>
              
        <!-- Active Test Advanced Mode -->
        <activity
            android:name="de.srlabs.snoopsnitch.ActiveTestAdvanced"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>

        <!-- Dialog for enabling Auto-Upload Mode from Notification -->
        <activity
            android:name="de.srlabs.snoopsnitch.EnableAutoUploadModeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity" >
        </activity>

        <activity
            android:name="de.srlabs.patchalyzer.PatchalyzerMainActivity"
            android:label="@string/label_patch_analysis_long"
            android:icon="@drawable/ic_patchalyzer"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:parentActivityName="de.srlabs.snoopsnitch.DashboardActivity">
        </activity>

        <service
            android:name="de.srlabs.patchalyzer.analysis.PatchalyzerService"
            android:exported="false"
            android:process=".PatchalyzerService" />


        <service android:name="de.srlabs.snoopsnitch.qdmon.MsdService" android:exported="false" android:process=".SnoopSnitchService" />
    	<service android:name="de.srlabs.snoopsnitch.active_test.ActiveTestService" android:exported="false" />

        <receiver android:name="de.srlabs.patchalyzer.BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
